<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">


          <!-- Right -->
          <div class="alarm-clock ml-auto">
            <div class="date">
              <span class="month"></span>
              <span class="day"></span>,
              <span class="year"></span>
            </div>
          
            <div class="time">
              <span class="hours"></span>
              <span class="colon">:</span>
              <span class="minutes"></span>
              <span class="colon">:</span>
              <span class="seconds"></span>
            </div>
          </div>

        </div>

      
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="https://mdbootstrap.com/img/logo/mdb-email.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
       
        <a href="/" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Events</a>
        <a href="/seats" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-table mr-3"></i>Seats</a>
        
      </div>

    </div>
    <!-- Sidebar -->

  </header>